.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
	min-height: 375px;
}

.warning-filter {
	float: right;
	margin-left: 5px;
	top: 50%;
	width: 16px;
	height: 16px;
	background-image: url('../images/warning-icon.png');
}

.illiterate-application {
    background-position: center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    height: 32px;
	background-image: url('../images/illiterate.png');
}

.digital-application {
    background-position: center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    height: 32px;
    background-image: url(../images/digital.png);
}

.paper-application {
    background-position: center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    height: 32px;
	background-image: url('../images/paper.png');
}

.aui button.btn-orange:before {
	background-color: #ffa500;
}

.aui button.disabled:before{
	background-color: #c3d0e5;
	pointer-events: none;
	cursor: not-allowed; 	 
}

.aui button.disabled:after{
	background-color: #c3d0e5;
	pointer-events: none;
	cursor: not-allowed; 	 
}

.red-label {
	color: red;
}

.rtl {
   direction: rtl;
}

.invalid {
	background-color: #ffcccc !important;
}

.custTable, .custTr, .custTd {
	border: 1px solid black;
	color: black;
}